@import "variables";
@import "medidas";
@import "menuyHeader";
@import "footer";
@import "inicio";
@import "productos";
@import "outlet";
@import "nosotros";
@import "contacto";
@import "modalProds";

$colorFondos: #1c1c1c;
$colorlinks: red;
$fuenteGrande: 15px;

* {
    /* FALTA LINKEAR EL STYLES CSS, NO ESTE AL INDEX Y BORRAR EL CSS LUEGO DE ANIDAR TODO ACA*/
    /*selector universal */
    margin: 0;
    /*borra los valores que trae css por defecto */
    padding: 0;
    box-sizing: border-box;
    /*deja las cajas exactamente en el tamano que yo le doy, sin importar si agregamos padding o border, etc. la caja se mantiene en el tamano original*/

    /* font famili puede ir aca */
}

html {
    font-size: 62.5%;
}

/*  GRADIENTES SINTAXIS*/
/* ul{
    background: linear-gradient(to left,red, yellow);
} */
/* TRANSFORMACIONES SINTAXIS */

/* TRANSLATE ambos ejes */
/* div{
    transform: translate(10px, 120px); 
} */
/* div{ solo un eje 
    transform: translateX(450px);
}*/
/* ROTATE */
/* div{
    transform:rotate(10deg) 
} AMBOS EJES*/
/* 
div{ solo un eje
    transform: rotateY(123deg);
} */